@media screen and (max-width: $mobile-breakpoint - 1px) {
  html {
    font-size: 20px;
  }

  .supplier-content {
    * {
      font-size: 14px !important;
      line-height: initial !important;
      font-weight: normal !important;
    }
  }

  .supplier-content-header-logo {
    width: auto !important;
    max-width: 100% !important;
    margin: auto;

    .supplier-image {
      max-height: 75px !important;
    }
  }

  .supplier-website {
    margin: auto;
    font-size: 18px !important;
    width: 100% !important;
    padding: 15px;
  }

  .supplier-content-header {
    width: 100%;
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .supplier-content-main {
    width: 100%;
    display: block;
    height: auto;
    padding-top: 0px;

    .supplier-description {
      width: 100%;
    }
  }

  .supplier-content-main .supplier-product-carousel-container {
    margin: auto;
    max-height: 150px !important;
    padding-top: 15px;
    & .slick-slide > div {
      display: block;
    }
  }

  #contact {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #contact-form {
    input[type="submit"] {
      width: 50% !important;
    }
  }

  #footer {
    flex-direction: column;
  }

  #contact-panels {
    display: flex;
    flex-direction: column;

    & > * {
      margin-bottom: 15px;
      width: 100%;
    }
  }

  #osso-map {
    min-height: 300px;
  }

  #email-message,
  #visit-message {
    border-top: 1px solid $osso-colour-5;
    padding-top: 15px;
  }

  #hours {
    padding: 15px 0px 15px 0px;
  }

  #hours-message,
  #email-message,
  #visit-message {
    font-size: 1.25rem !important;
  }

  #about {
    &.mobile {
      #about-slide-down {
        transition: all 2s;
        overflow-y: hidden;
        &.expanded {
          transition: all 2s;
          max-height: 1700px;
        }
        &.collapsed {
          transition: all 2s;
          max-height: 0px;
        }
      }

      #about-content-container {
        position: relative;
        width: 80%;
        max-height: 50vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        #about-mobile-image-overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0px;
          left: 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 999;
          transition: all 2s;
          color: black;
        }

        &.expanded {
          #about-mobile-image-overlay {
            opacity: 0;
          }
        }
        &.collapsed {
          #about-mobile-image-overlay {
            background-color: rgba(200, 200, 200, 0.7);
          }
        }
      }
    }
  }
}

@import "./tn";
@import "./xs";
@import "./sm";
