@media screen and (max-width: $mobile-breakpoint - 1px) {
    html {
        font-size: 20px;
    }
    #nav-items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        height: 25%;
    }

    #about {
        #about-content-container {
            width: 80% !important;

            .slick-vertical {
                .slick-arrow {
                    &.slick-prev {
                        left: 48%;
                    }

                    &.slick-next {
                        left: 48%;
                    }
                }
            }
        }
    }

    #contact {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #contact-form {
        input[type="submit"] {
            width: 50% !important;
        }
    }

    #footer {
        flex-direction: column;
    }

    #contact-panels {
        display: flex;
        flex-direction: column;

        & > * {
            margin-bottom: 15px;
            width: 100%;
        }
    }

    #osso-map {
        min-height: 300px;
    }

    #logo {
        max-width: 80%;
    }

    #email-message,
    #visit-message {
        border-top: 1px solid $osso-colour-5;
        padding-top: 15px;
    }

    #hours {
        padding: 15px 0px 15px 0px;
    }

    #landing-content-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #hours-message,
    #email-message,
    #visit-message {
        font-size: 1.25rem !important;
    }
}

@import "./tn";
@import "./xs";
@import "./sm";
