#about-section {
    position: relative;
    max-height: 300px;
    overflow: hidden;
    @include flex-centered;
    @include box-shadow;

    #view-about-overlay {
        top: 0;
        left: 0;
        transition-property: opacity;
        transition-duration: 0.5s;
        width: 100%;
    }

    &:hover #view-about-overlay {
        opacity: 0.5;
    }

    #view-about-button-container {
        @include clickable-overlay;
        @include flex-centered;

        &:hover {
            opacity: 1;
        }
    }
}
