#about-section {
    border-top: 1px solid rgb(200, 200, 200);
    margin-top: 5vh;

    .section-title {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    #about-content-container {
        position: relative;
        width: 100%;
        height: auto;

        .about-image {
            max-height: 100%;
            width: auto;
        }

        .slick-arrow {
            &:hover:focus::before {
                opacity: 1;
            }

            &:focus::before {
                opacity: 0.75;
            }
            &:before {
                color: white !important;
            }
        }

        .slick-slider.beginning {
            .slick-arrow.slick-prev {
                display: none !important;
            }
        }

        .slick-slider.end {
            .slick-arrow.slick-next {
                display: none !important;
            }
        }

        .slick-vertical {
            .slick-list {
                padding: 0px;
                .slick-track {
                    .slick-slide {
                        width: 100%;
                        div {
                            width: 100%;
                            .about-image {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .slick-arrow {
                &.slick-prev {
                    top: 1rem;
                    left: 50%;
                    transform: rotate(90deg);
                }

                &.slick-next {
                    top: calc(100% - 3rem);
                    left: 50%;
                    transform: rotate(90deg);
                }
            }
        }

        .slick-slide {
            &:not(.slick-active) {
                filter: grayscale(80%) blur(3px);
            }
        }
    }
}
