#contact-section-description {
    text-align: center;
}

#contact-section {
    @include box-shadow;

    .section-description {
        a {
            color: $osso-logo-colour1;
        }
    }
}

#contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;

    input,
    textarea {
        border: 1px solid rgb(115, 115, 115);
        margin: 7.5px;
        padding: 7.5px;

        &[type="submit"] {
            width: 25%;
            background-color: rgb(255, 255, 255) !important;

            &:hover:not(.disabled) {
                cursor: pointer;
                background-color: rgba(115, 115, 155, 0.7) !important;
            }
        }

        outline: none;
    }

    textarea {
        resize: vertical;
        min-height: fit-content;
    }
}
