#contact {
    border-top: 1px solid $osso-colour-2;
    background-color: $osso-colour-1;
    padding: 5vh 5vw 0px 5vw;

    h2 {
        display: block;
        text-align: center;
        font-size: 1.5em;
        margin-top: 0px;
    }

    * {
        color: white;
        background-color: $osso-colour-1;
    }
}

#contact-panels {
    margin-top: 5vh;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    font-size: 0.8rem;

    #contact-right-panel,
    #contact-left-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

#hours {
    padding: 15px;
    width: fit-content;
    margin: 0px;
    height: fit-content;

    display: grid;
    grid-template-columns: 1fr 1fr 20px 1fr;

    & > span:nth-child(4n + 1) {
        padding: 0px 15px 0px 15px;
    }

    & > span:nth-child(4n + 2) {
        justify-self: end;
    }

    & > span:nth-child(4n + 3) {
        justify-self: center;
    }

    & > span:nth-child(4n) {
        justify-self: start;
    }

    .today {
        background-color: $osso-colour-4;
        border-radius: $default-border-radius;
    }
}

#email-us {
    width: 100%;
    padding: 15px;
    border: 1px solid $osso-colour-1;

    h3 {
        margin-bottom: 7px;
    }

    #contact-form {
        display: flex;
        flex-direction: column;

        ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: white;
        }
        ::-moz-placeholder {
            /* Firefox 19+ */
            color: white;
        }
        :-ms-input-placeholder {
            /* IE 10+ */
            color: white;
        }
        :-moz-placeholder {
            /* Firefox 18- */
            color: white;
        }

        input,
        textarea {
            margin: 8px 0px 8px 0px;
            border: 1px solid white;
            padding: 10px !important;
            font-size: 1em;

            &[type="submit"] {
                &:not(.disabled) {
                    &:hover {
                        cursor: pointer;
                        background-color: white;
                        color: $osso-colour-1;
                    }
                }

                &.disabled {
                    color: white;
                }
            }

            &:focus {
                outline-color: lighten($osso-colour-4, 25%);
                outline-width: 3px;
            }
        }
    }
}

#visit-us {
    position: relative;
    top: -22px;
    width: 100%;
    padding: 15px;
    #osso-map {
        height: 50%;
        width: 100%;
        min-width: 300px;
        min-height: 300px;
    }

    p {
        margin-bottom: 15px;
    }
}

#social-media {
    margin: auto;
    padding: 15px;
    height: fit-content;
    text-align: center;

    h2 {
        display: block;
        margin-bottom: 5px;
    }

    & > a,
    & > span {
        width: 30px;
        height: 30px;
        margin-left: 5px;
        margin-right: 5px;
    }
}
