@import "./landing";
@import "./suppliers";
@import "./about";
@import "./contact";

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section:not(#landing-section) {
    width: 80%;
    margin: auto;
}
