@import "./landing";
@import "./coronavirus";
@import "./suppliers";
@import "./about";
@import "./contact";

.section-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.section-description {
  margin-top: 0px;
  margin-bottom: 5vh;
}
