#landing {
    position: relative;
    overflow: hidden !important;
    padding-top: $navbar-height + (2 * $navbar-padding);
}

#landing,
#landing-background,
#landing-background-overlay,
#landing-content-container,
#landing-background-content,
#landing-background-content {
    height: calc(100vh - #{$navbar-height + (2 * $navbar-padding)});
}

#landing-background-content {
    .slick-slider,
    .slick-list,
    .slick-track,
    .slick-slide {
        height: calc(100vh - #{$navbar-height + (2 * $navbar-padding)});
    }

    .slick-slide {
        & > div {
            position: relative;

            & > img {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 100vh;
                width: auto !important;
                min-width: 100vw;
            }
        }
    }
}

#landing-background {
    #landing-background-overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        //$osso-colour-4
        background: rgb(110, 114, 113);
        background: radial-gradient(circle, rgba(110, 114, 113, 0.9) 15%, rgba(110, 114, 113, 0.5) 75%);
    }
}

#landing-content-container {
    position: absolute;
    top: $navbar-height + (2 * $navbar-padding);
    left: 0px;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 25rem;
}
