#landing-section {
    background: url("../../../images/landing1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#landing-content-background {
    background: rgba(200, 200, 200, 0.5);

    width: 100%;
}

#landing-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100%;
}

#logo {
    width: 20rem;
}

#nav-items {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    a {
        text-decoration: none;
        transition-property: color;
        transition-duration: 0.5s;

        color: rgb(55, 55, 55);

        font-size: 2rem;

        &:visited {
            color: inherit;
        }

        &.selected {
            color: inherit;
        }

        &:hover {
            color: $osso-logo-colour2;
        }
    }
}
