#suppliers-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    grid-gap: 15px;

    width: 100%;

    .supplier {
        position: relative;
        overflow: hidden;

        border: rgb(115, 115, 115) 1px solid;

        padding: 15px;

        .supplier-image {
            position: relative;
            transition-property: top;
            transition-duration: 0.5s;
            top: 25%;
            border-radius: 3px;
            padding: 5px;
            background-color: white;
        }

        &:hover .supplier-image {
            top: 0;
        }

        .view-supplier-overlay {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition-property: opacity;
            transition-duration: 0.5s;
            width: 100%;
            height: 100%;
            z-index: -999;
        }

        &:hover .view-supplier-overlay {
            opacity: 0.5;
        }

        .view-supplier-button-container {
            @include clickable-overlay;
            @include flex-centered;

            background: radial-gradient(circle, rgba(200, 200, 200, 0.6) 25%, rgba(255, 255, 255, 0) 100%);

            h5 {
                position: absolute;
                display: inline-block;
                margin: auto;
                bottom: 50%;

                transition-property: bottom;
                transition-duration: 0.5s;
            }

            &:hover {
                opacity: 1;

                h5 {
                    bottom: 30%;
                }
            }
        }
    }
}
