#brands {
    padding: 5vh 5vw 0px 5vw;
}

#suppliers-container {
    display: grid;
    grid-auto-rows: 200px;
    grid-gap: 30px;
    width: 100%;
}

.supplier {
    border: rgb(115, 115, 115) 1px solid;
    padding: 15px;
    overflow: hidden;
    background-color: white;

    & > div {
        height: 100%;
        width: 100%;
    }
}

.supplier.expanded {
    &,
    * {
        position: relative;
        z-index: 998;
    }
}

.supplier.collapsed {
    cursor: pointer;

    &,
    * {
        position: relative;
        z-index: 0;
    }
}

.view-supplier {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .supplier-image {
        max-width: 100%;
        max-height: 100px;
        display: block;
        margin: auto;
    }
}

.supplier-content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    cursor: default;

    .supplier-image {
        max-width: 100%;
        max-height: 100px;
        width: auto;
        display: block;
        margin: auto;
    }

    * {
        text-align: center;
        width: fit-content;
        max-width: 100%;
        margin: 0px;
    }

    .supplier-website {
        padding: 10px;

        &:hover {
            color: $osso-colour-1;
        }
    }

    .supplier-description {
        font-style: italic;
    }

    ul {
        list-style: none;
        padding-inline-start: 0px;
        columns: auto;
        -webkit-columns: auto;
        -moz-columns: auto;
        li {
            width: 100%;
            text-align: center;
            color: $osso-colour-1;
            border-radius: $default-border-radius;
        }
    }
}
