@media screen and (min-width: $mobile-breakpoint) {
    html {
        font-size: 24px;
    }

    #contact {
        * {
            font-size: 0.8rem;
        }
    }

    #about-content-container {
        width: 80%;
    }

    #logo {
        max-width: 15rem;
        position: absolute;
        top: 0px;
        left: 0px;
        background: rgba(255, 255, 255, 0.35);
        padding: 15px;
        border-bottom-right-radius: $default-border-radius;
    }
}

@import "./md";
@import "./lg";
@import "./xl";
