@media screen and (min-width: $mobile-breakpoint) {
    html {
        font-size: 24px;
    }

    #contact {
        * {
            font-size: 0.8rem;
        }
    }

    #about-content-container {
        width: 80%;
    }

    #logo {
        max-width: 15rem;
        position: absolute;
        top: 30px;
        left: 30px;
    }
}

@import "./md";
@import "./lg";
@import "./xl";
