@media screen and (min-width: map-get($map: $screen-sizes, $key: "xl")) {
    #suppliers-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .supplier.expanded {
            grid-column: span 2;
            grid-row: span 2;
        }
    }

    #contact-form {
        input[type="submit"] {
            width: 50%;
        }
    }

    #contact-panels {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
        grid-template-areas:
            "hours-message visit-message email-message"
            "hours visit email";

        & > * {
            justify-self: center;
            margin-bottom: 15px;
            width: 90%;
        }

        #osso-map {
            height: 400px;
        }
    }
}
