@mixin clickable-overlay {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
    width: 100%;
    height: 100%;
}

@mixin flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin box-shadow {
    -webkit-box-shadow: 10px 10px 28px -17px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 10px 28px -17px rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 28px -17px rgba(0, 0, 0, 1);
}
