$default-colour: rgb(55, 55, 55) !important;

$osso-logo-colour1: rgb(42, 83, 121);
$osso-logo-colour2: rgb(142, 167, 189);
$osso-logo-colour3: rgb(217, 228, 240);

$osso-header-colour: rgb(185, 179, 174);

$default-border-radius: 5px;
