@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,700,&display=swap");

@import "./mixins";
@import "./variables";
@import "./components";
@import "./libraries";
@import "./layouts";
@import "./pages";

body {
    margin: 0;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $default-colour !important;
    font-weight: 300;

    * {
        font-family: inherit;
    }
}

input,
textarea {
    font-size: 0.75rem !important;

    &:not([type="submit"]) {
        padding: 15px !important;
    }

    &[type="submit"] {
        min-width: fit-content;
    }
}

hr {
    border-top: 1px solid rgb(200, 200, 200);
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 15px;
    display: inline-block;
}

p {
    margin: 0px;
}

a {
    text-decoration: none;
    transition-property: all !important;
    transition-duration: 0.5s !important;

    color: rgb(55, 55, 55);

    border-radius: 2px;

    &:visited {
        color: inherit;
    }

    &.selected {
        color: inherit;
    }

    &:hover {
        color: $osso-logo-colour1;
    }

    &.scaleUp:hover {
        transform: scale(1.1);
    }

    &.backgroundChange:hover {
        background: rgba(200, 200, 200, 0.9);
    }
}

@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";
@import "~tippy.js/dist/tippy.css";
