@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,700&display=swap");

@import "./reset";
@import "./mixins";
@import "./variables";
@import "./components";
@import "./libraries";
@import "./pages";
@import "./layouts";

body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $default-colour !important;
  font-weight: 300;

  * {
    font-family: inherit;
    z-index: 0;
  }
  color: $osso-colour-2;

  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  text-align: center;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: $osso-colour-2;
  &:visited {
    color: inherit;
  }

  &.selected {
    color: inherit;
  }
}

@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";
@import "~tippy.js/dist/tippy.css";
