#contact-section {
    #contact-form {
        width: 100%;
        display: flex;
        flex-direction: column;

        & > * {
            border: 1px solid rgb(115, 115, 115);
        }

        input,
        textarea {
            margin: 7.5px;
            padding: 7.5px;

            &[type="submit"] {
                width: 25%;
                cursor: pointer;

                &:hover {
                    background-color: rgba(115, 115, 155, 0.7);
                }
            }

            outline: none;
        }

        textarea {
            resize: vertical;
            min-height: fit-content;
        }
    }
}
