@media screen and (min-width: map-get($map: $screen-sizes, $key: "md")) and (max-width: (map-get($map: $screen-sizes, $key: "lg") - 1px)) {
    html {
        font-size: 20px;
    }

    /* ============================= SECTIONS ============================= */

    // sections/_landing.scss

    #nav-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    // sections/_suppliers.scss
    #suppliers-section {
        #suppliers-container {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    // sections/_about.scss

    // sections/_contact.scss
    #contact-form {
        input,
        textarea {
            &[type="submit"] {
                width: 50%;

                &:hover:not(.disabled) {
                }
            }
        }
    }

    /* ============================= SHARED ============================= */

    // shared/_divider.scss
}
