@media screen and (min-width: map-get($map: $screen-sizes, $key: "sm")) and (max-width: (map-get($map: $screen-sizes, $key: "md") - 1px)) {
    html {
        font-size: 1.5vw;
    }

    /* ============================= SECTIONS ============================= */

    // sections/_landing.scss
    #logo {
        width: 70%;
    }

    #nav-items {
        height: 25%;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        a {
            font-size: 3.5rem;
        }
    }

    // sections/_suppliers.scss
    #suppliers-section {
        padding: 0px !important;
        border: 0px !important;
    }

    #suppliers-container {
        grid-template-columns: 1fr 1fr;
        .supplier {
            margin: 0 0 10% 0;
            .supplier-image {
                top: 20%;
            }

            &:hover .supplier-image {
            }

            .view-supplier-overlay {
            }

            &:hover .view-supplier-overlay {
            }

            .view-supplier-button-container {
            }

            &:hover .view-supplier-button-container {
            }
        }
    }

    // sections/_about.scss
    #about-content {
    }

    #about-section {
        #view-about-overlay {
            opacity: 0.5 !important;
            width: 100%;
        }

        #view-about-button-container {
            opacity: 1;
        }
    }

    // sections/_contact.scss
    #contact-form {
        input,
        textarea {
            font-size: 2rem;
            &[type="submit"] {
                width: 50%;

                &:hover:not(.disabled) {
                }
            }
        }

        textarea {
        }
    }

    /* ============================= SHARED ============================= */

    // shared/_divider.scss
    .divider-wrapper {
        height: 25vh;
    }

    section {
        .section-title {
            font-size: 3.5rem;
        }
        .section-description {
            font-size: 2.5rem;
        }
        &:not(#landing-section) {
            min-height: fit-content;
            margin: 10% !important;
        }
    }

    #footer-content {
        font-size: 2.5rem;
    }
}
