@media screen and (min-width: map-get($map: $screen-sizes, $key: "sm")) and (max-width: (map-get($map: $screen-sizes, $key: "md") - 1px)) {
    html {
        font-size: 20px;
    }

    /* ============================= SECTIONS ============================= */

    // sections/_landing.scss

    #nav-items {
        height: 25%;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    // sections/_suppliers.scss

    #suppliers-section {
        #suppliers-container {
            grid-template-columns: 1fr 1fr;
        }
    }

    // sections/_about.scss

    // sections/_contact.scss

    /* ============================= SHARED ============================= */

    // shared/_divider.scss

    // shared/_footer.scss
    #footer {
        flex-direction: column;
    }
}
