@media screen and (max-width: (map-get($map: $screen-sizes, $key: "xs") - 1px)) {
    html {
        font-size: 12px;
    }

    /* ============================= SECTIONS ============================= */

    // sections/_landing.scss
    #logo {
    }

    #nav-items {
        height: 30%;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    // sections/_suppliers.scss
    #suppliers-section {
    }

    #suppliers-container {
        grid-template-columns: 1fr;
        grid-gap: 0px;
        .supplier {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0px;
            }

            .supplier-image {
            }

            &:hover .supplier-image {
            }

            .view-supplier-overlay {
            }

            &:hover .view-supplier-overlay {
            }

            .view-supplier-button-container {
                h5 {
                    font-size: 2.5rem;
                }
            }

            &:hover .view-supplier-button-container {
                h5 {
                    top: 40%;
                }
            }

            &.expanded {
                grid-column: span 1;
                grid-row: span 2;
            }
        }
    }

    // sections/_about.scss
    #about-content {
    }

    #about-section {
        #about-content-container {
            .slick-vertical {
                .slick-arrow {
                    &.slick-prev {
                        left: 47%;
                    }

                    &.slick-next {
                        left: 47%;
                    }
                }
            }
        }
    }

    // sections/_contact.scss
    #contact-section {
        #hours {
            .hours-entry {
                font-size: 0.95rem;
            }
        }
    }

    #contact-section {
        #contact-header-content {
            margin: auto;
            width: 80%;
            display: flex;
            justify-content: space-between;

            & > * {
                width: auto;
            }

            #hours {
                margin-top: 15px;
                margin-bottom: 15px;
                .hours-entry {
                    margin: 0px;
                    display: flex;
                    justify-content: space-between;
                    span {
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }

            margin-bottom: 30px;
        }
        #contact-form {
            input,
            textarea {
                &[type="submit"] {
                    width: 50% !important;
                }
            }
        }
    }

    /* ============================= SHARED ============================= */

    // shared/_divider.scss
}
