@media screen and (min-width: map-get($map: $screen-sizes, $key: "xs")) and (max-width: (map-get($map: $screen-sizes, $key: "sm") - 1px)) {
    html {
        font-size: 16px;
    }

    /* ============================= SECTIONS ============================= */

    // sections/_landing.scss
    #logo {
    }

    #nav-items {
        height: 25%;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    // sections/_suppliers.scss
    #suppliers-section {
    }

    #suppliers-container {
        grid-template-columns: 1fr;
        .supplier {
            &:last-child {
            }
            .supplier-image {
                top: 25%;
            }

            &:hover .supplier-image {
            }

            .view-supplier-overlay {
            }

            &:hover .view-supplier-overlay {
            }

            .view-supplier-button-container {
                h5 {
                    font-size: 2rem;
                }
            }

            &:hover .view-supplier-button-container {
                h5 {
                    top: 40%;
                }
            }

            &.expanded {
                grid-column: span 1;
                grid-row: span 2;
            }
        }
    }

    // sections/_about.scss
    #about-content {
    }

    #about-section {
        #about-content-container {
            .slick-vertical {
                .slick-arrow {
                    &.slick-prev {
                        left: 48%;
                    }

                    &.slick-next {
                        left: 48%;
                    }
                }
            }
        }
    }

    // sections/_contact.scss
    #contact-header-content,
    #contact-content {
        flex-direction: column;
        padding: 0px !important;

        #info,
        #hours {
            text-align: center !important;
        }

        #osso-map {
            margin-top: 30px;
            padding: 0px !important;
        }

        & > * {
            width: 100% !important;
        }
    }

    /* ============================= SHARED ============================= */

    // shared/_divider.scss
    .divider-wrapper {
        height: 25vh;
    }
}
