$screen-sizes: (
    xs: 360px,
    sm: 540px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$mobile-breakpoint: map-get(
    $map: $screen-sizes,
    $key: "md"
);

@import "./mobile/index";
@import "./web/index";
