.divider-wrapper {
    position: relative;
    max-height: 80vh;
    margin-top: 10vh;
    overflow: hidden;
    width: 80%;
    margin: auto;
    margin-top: 10vh;

    .divider {
        max-width: 100%;
    }
}
