#footer {
    width: 100%;
    height: fit-content;
    background-color: $osso-logo-colour2;
    padding: 15px;

    @include flex-centered;
}

#footer-content {
    margin: 0px;
    text-align: center;
}
