#footer {
    border-top: 1px solid $default-colour;
    width: 100%;
    height: fit-content;
    background-color: $osso-logo-colour2;
    padding-top: 5%;
    padding-bottom: 30px;
}

#footer-content {
    margin: 0px;
    margin-top: 30px;
    text-align: center;
}
