section:not(#landing-section) {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
    border: 1px solid rgb(115, 115, 115);
    padding: 5%;
    border-radius: $border-radius;
}

.parallax-img-1 {
    background-image: url("../../../images/homepage_header_petra.jpg");
}

.parallax-img-2 {
    background-image: url("../../../images/Jackson_51823BN_2.jpg");
}

.parallax-img-3 {
    background-image: url("../../../images/Everett_4398BN_2.jpg");
}

.parallax-divider {
    height: 50vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10%;
}

@import "./authWidget";
