#social-media {
    justify-self: end;
    & > a,
    & > span {
        width: 30px;
        height: 30px;
        margin-left: 5px;
        margin-right: 5px;
        color: white !important;
    }
}
