.supplier-info-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .supplier-info-modal-left-panel {
        .supplier-image {
        }

        .supplier-description {
        }

        .supplier-product-types {
            .supplier-product-type {
            }
        }
    }

    .supplier-info-modal-right-panel {
        width: 50%;
        margin: auto;
        height: 300px;
    }
}
